/* @media (min-width: 768px) { */
.nav-link {
    text-transform: uppercase;
    margin-right: 35px;
}

/* .nav-link:hover {
    display: block;
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
} */

.getstarted {
    text-transform: uppercase;
}

/* } */